#content.menu
    .header
        .menu
            a.menu
                img(src="images/title.png", 
                    alt="aliventaire", 
                    title="Aliventaire")
            h2 
                p Vous ne savez pas quoi cuisiner ce soir ? 
                p Ali-ventaire va vous aider à choisir !
                p Et en plus il va vous permettre de commander ce qu'il vous manque !
                p (cliquez sur les '?' pour obtenir de l'aide)
        .shop
            a.menu(href="/")
                img.menu(src="images/shop.png", 
                         alt="shop", 
                         title="Retour au menu")
            h1 Mes courses
            .pagination
        .fridge
            a.menu(href="/")
                img.menu(src="images/fridge.png", 
                         alt="fridge", 
                         title="Retour au menu")
            h1 Mon placard
            .pagination
        .kitchen
            a.menu(href="/")
                img.menu(src="images/kitchen.png", 
                         alt="kitchen", 
                         title="Retour au menu")
            h1 Ma cuisine
            .pagination
        .recipes
            a.menu(href="/")
                img.menu(src="images/recipes.png", 
                         alt="recipes", 
                         title="Retour au menu")
            h1 Mes recettes
            .pagination
    .page
        .menu
            .row
                span.tooltips(data-toggle="tooltip",
                        data-placement="bottom",
                        title="Ajouter les produits de mes tickets de caisse à mon placard et valider les recettes prêtes à être cuisinées")
                     span.glyphicon.glyphicon-question-sign
                a.kitchen(href="/")
                    img.kitchen(src="images/kitchen.png", 
                                alt="kitchen", 
                                title="Ma cuisine")
                a.fridge(href="/")
                    img.fridge(src="images/fridge.png", 
                               alt="fridge", 
                               title="Mon placard")
                span.tooltips(data-toggle="tooltip",
                        data-placement="bottom",
                        title="Ajouter, enlever, modifier les produits de mon placard")
                     span.glyphicon.glyphicon-question-sign
            .row
                span.tooltips(data-toggle="tooltip",
                        data-placement="bottom",
                        title="Créer mes recettes et leur assigner une catégorie")
                     span.glyphicon.glyphicon-question-sign
                a.recipes(href="/")
                    img.recipes(src="images/recipes.png", 
                                alt="recipes", 
                                title="Mes recettes")
                a.shop(href="/")
                    img.shop(src="images/shop.png", 
                             alt="shop", 
                             title="Mes courses")
                span.tooltips(data-toggle="tooltip",
                        data-placement="bottom",
                        title="Visualiser les recettes que j'ai cuisinées par catégorie, choisir les prochaines et commander ce qu'il manque")
                     span.glyphicon.glyphicon-question-sign
        #shop.shop
        #fridge.fridge
        #kitchen.kitchen
        #recipes.recipes
