#content.menu
    .header
        .menu
            img(src="images/titre.png", 
                alt="aliventaire", 
                title="Aliventaire")
        .shop
            img.menu(src="images/shop.png", 
                     alt="shop", 
                     title="Retour au menu")
            h1 Mes courses
            .pagination
        .fridge
            img.menu(src="images/fridge.png", 
                     alt="fridge", 
                     title="Retour au menu")
            h1 Mon placard
            .pagination
        .cook
            img.menu(src="images/cook.png", 
                     alt="cook", 
                     title="Retour au menu")
            h1 Ma cuisine
            .pagination
        .recipe
            img.menu(src="images/recipe.png", 
                     alt="recipe", 
                     title="Retour au menu")
            h1 Mes recettes
            .pagination
    .page
        .menu
            .row
                img.shop(src="images/shop.png", 
                         alt="shop", 
                         title="Mes courses")
                img.fridge(src="images/fridge.png", 
                           alt="fridge", 
                           title="Mon placard")
            .row
                img.cook(src="images/cook.png", 
                         alt="cook", 
                         title="Ma cuisine")
                img.recipe(src="images/recipe.png", 
                           alt="recipe", 
                           title="Mes recettes")
        .shop
            .navigation.left
            .swiper-container
                .swiper-wrapper
                    .swiper-slide 
                        p shop 1
                    .swiper-slide 
                        p shop 2
                    .swiper-slide 
                        p shop 3
            .navigation.right
        #fridge.fridge
        .cook
            .navigation.left
            .swiper-container
                .swiper-wrapper
                    .swiper-slide 
                        p cook 1
                    .swiper-slide 
                        p cook 2
            .navigation.right
        #recipe.recipe
