.delete.col-xs-1(title="supprimer et placer dans le formulaire d'ajout")
    button.btn.btn-danger
        span.glyphicon.glyphicon-remove
.image.col-xs-1
    span.img.well
        img(src="#{image}", alt="X", title="#{name}")
.name.col-xs-5 #{name}
.price.col-xs-2 #{price}
.quantity.col-xs-3 #{quantity}
      span.actions
          button.minus.btn.btn-default
              span.glyphicon.glyphicon-minus
          button.plus.btn.btn-default
              span.glyphicon.glyphicon-plus
