form.form-inline(role="form")
    .row
        .form-group.col-xs-7
            input#product-name(type="text", 
                               class="form-control",
                               required="required"
                               placeholder="Produit")
        .form-group.col-xs-2
            input#product-price(type="text",
                                class="form-control",
                                required="required"
                                pattern="[0-9]+(.[0-9]+)?"
                                title="le prix unitaire de ce produit (ex: 3.2)"
                                placeholder="Prix unitaire")
        .form-group.col-xs-2
            input#product-quantity(type="text",
                                   class="form-control",
                                   pattern="[0-9]+"
                                   title="le nombre de produits de ce type"
                                   placeholder="Quantité")
        .form-group.col-xs-1
            button(type="submit",
                   class="col-xs-1 btn btn-default glyphicon glyphicon-plus",
                   title="ajouter")
    .row
        .form-group.col-xs-11
            input#product-image(type="text", 
                                class="form-control",
                                placeholder="adresse image")
hr
.products-list
    ul.products.new
    .row
        div.form-group.col-xs-6
            input.search(type="text",
                         placeholder="filtrer",
                         class="form-control")
        button.sort(class="btn btn-default col-xs-2",
                    title="trier par prix",
                    data-sort="price") 
             span.glyphicon.glyphicon-sort
             | prix
        button.sort(class="btn btn-default col-xs-2",
                    title="trier par nom",
                    data-sort="name")
             span.glyphicon.glyphicon-sort
             | nom
        button.sort(class="btn btn-default col-xs-2",
                    title="trier par quantité",
                    data-sort="quantity") 
             span.glyphicon.glyphicon-sort
             | quantité
    ul.products.old.list
