span.delete.col-xs-1(title="supprimer")
    button.btn.btn-danger.glyphicon.glyphicon-remove
span.image.col-xs-1 
    img(src="#{image}", alt="image", title="#{name}")
span.name.col-xs-5 #{name}
span.price.col-xs-2 #{price}
span.quantity.col-xs-3 #{quantity}
      span.actions
          button.minus.btn.btn-default
              span.glyphicon.glyphicon-minus
          button.plus.btn.btn-default
              span.glyphicon.glyphicon-plus
