.row
    .image.col-xs-3 
        span.img.well
            img(src="#{image}", alt="image", title="#{name}")
    .col-xs-8 
    .name 
            span.delete(title="recette cuisinée !")
                button.btn.btn-success
                    span.glyphicon.glyphicon-check
            span #{name}
        .recipe-tags 
            - each tag in tags
                span.tag #{tag.id} 
        .description !{description}
        hr
.recipe-products 
    span Nombre de produits du placard :
    span.tooltips(data-toggle="tooltip",
            data-placement="bottom",
            title="Mettez à jour le nombre de produits qu'il vous reste dans votre placard")
        span.glyphicon.glyphicon-question-sign
    ul
    - each product in products
        li.row
            span.name.col-xs-8 #{product.name}
            span.quantity.col-xs-2 #{product.quantity}
            span.actions.col-xs-2
                button.minus.btn.btn-default
                    span.glyphicon.glyphicon-minus
                button.plus.btn.btn-default
                    span.glyphicon.glyphicon-plus
