form(role="form")
    .row
        hr
        h2
            span Créer une recette
            span.tooltips(data-toggle="tooltip",
             data-placement="bottom",
             title="Pour créer une recette, remplissez les champs ci-dessous et validez en cliquant sur l'icone '+'.")
                span.glyphicon.glyphicon-question-sign
        hr
    .form-group
        input#recipe-name(type="text", 
                          class="form-control",
                          required="required"
                          placeholder="Nom de la recette")
    .form-group.col-xs-6
        textarea#recipe-description(type="text", 
                                    class="form-control",
                                    placeholder="Description de la recette")
    .form-group.col-xs-6
        label(for="recipe-products") Produits nécessaires :
        select#recipe-products(multiple="multiple",
                               data-live-search="true",
                               class="form-control select-picker")
            - each product in products
                option(value="#{product.attributes.name}") 
                    | #{product.attributes.name}
        label(for="recipe-products") Catégories :
        select#recipe-tags(multiple="multiple",
                           class="form-control select-picker")
                option(value="cheap") pas cher
                option(value="quick") rapide
                option(value="organic") bio
                option(value="light") light
                option(value="vegetarian") végétarien
                option(value="sugar") sucré
    .form-group
        input#recipe-image(type="text", 
                           class="form-control",
                           placeholder="adresse de l'image")
    .form-group
        button(type="submit",
               class="btn btn-default",
               title="ajouter")
            span.glyphicon.glyphicon-plus
.row
    hr
    h2
        span Liste de vos recettes
        span.tooltips(data-toggle="tooltip",
         data-placement="bottom",
         title="Ceci est la liste des recettes pouvant être proposées dans la partie 'Mes courses'. Pour modifier une recette, supprimez la en cliquant sur la croix rouge qui apparait lorsque vous passez la souris dessus. La recette est alors supprimée, mais ces informations sont placées dans le formulaire d'ajout, il ne reste plus qu'à les modifier et ajouter la recette à nouveau.")
            span.glyphicon.glyphicon-question-sign
    hr
ul.recipes

