.image.col-xs-3 
    img(src="#{image}", alt="image", title="#{name}")
.col-xs-8 
    .name 
        span.delete(title="supprimer")
            button.btn.btn-danger
                span.glyphicon.glyphicon-remove
        span #{name}
    .recipe-tags 
        - each tag in tags
            span.tag #{tag.id} 
    .description !{description}
    hr
    .recipe-products Produits :
        ul
           - each product in products
               li #{product.id}
